body{
    background-color: rgb(225, 232, 232);
}
.box{
    height: 80vh;
}
.navbar{
    background-color: green;
    height: 10vh;
}

.box1-1{
    background-color: rgb(217, 50, 50);
}
.box1{
    height: 40vh;
    width: 40vw;
}
.box2{
    background-color: coral;
}

.container{
    background-color: deepskyblue;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 2fr 2fr 2fr ;
    /* border: 1px solid black; */
}

.firts{
    padding-top: 6vh;
    
}





